# secrets and local data
api_key.txt
.env
*.env


# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/


# Ignore everything in artifacts by default
artifacts/*

# But keep these files
!artifacts/embeddings.npy
!artifacts/id_map.parquet



# notebooks
.ipynb_checkpoints/